body, button, code, dd, div, dl, dt,  form, h1, h2, h3, h4, h5, h6, input,  li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
div {
    box-sizing: border-box;
}
img {
    vertical-align: top;
}

a {

    text-decoration: none;
}
img {
    vertical-align: top;
}
ul, li {
    list-style: none;
}